body {
  background-color: rgb(161, 236, 214);
  padding: 60px;
}
.slider img {
  border: 5px solid #00a8e1;
}
.slick-dots {
  bottom: -55px !important;
}
.slick-dots li button:before {
  font-size: 20px !important;
}